body {
    font-family: sans-serif;
    width: 1280;
    height: 720;
    top: -368px;
    left: -456px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px 0px #00000040;
    align-items:center;
    justify-content: space-between;
    overflow: auto;
    height: 800px;
  }
  nav{
    word-spacing: 50px;
    font-weight: normal;
    font-weight: bold;
    position: absolute;
    top: 50px;
    left: 950px ;
    
  }
  .header {
    background-color: #ffffff;
    padding: 10px;
    width: 1005;
    height: 23;
    top: 65px;
    left: 122px;
    text-align: right;

  }
  .header strong {
    top: 65px;
    left: 122px;
    width: 103;
    height: 22;
    font-family: Inter;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0%;
    color:#89C5CC;
    float: left;
    position: absolute;
    top: 50px;
    left: 119px ;
  
  }
  .header em{
    font-weight: bold;
    color: #000000;
  }
  .header span {
    width: 49;
    height: 23;
    top: 65px;
    left: 959px;
    opacity: 0.5;
    font-family: Mulish;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    width: 267;
    height: 23;
    top: 65px;
    left: 860px;
    width: 49;
    height: 23;
    top: 65px;  
    left: 959px;
    opacity: 0.5;
    color:#000000;
  }
  .hero {
    background-color: #ffffff;
    padding: 20px;
    text-align: left;
    width: 1002;
    height: 332;
    top: 197px;
    left: 119px;
    width: 489;
    height: 112;
    top: 197px;
    left: 119px;
  }
  .hero h1 {
    font-size: 2em;
    margin-bottom: 10px;
    color:#000000;
    font-family: Mulish;
    font-weight: 400;
    font-size: 49px;
    line-height: 56px;
    letter-spacing: 0%;
    position: relative;
    top: 100px;
    left: 80px ;
  }
  .hero h1 span{
    color:#89C5CC;
    font-family: Mulish;
    font-weight: 700;
    font-size: 49px;
    line-height: 56px;
    letter-spacing: 0%;
  }
  .hero p {
    width: 438;
    height: 84;
    position: relative;
    top: 100px;
    left: 80px;
    margin-bottom: 20px;
    color:#7D7987;
    font-family: Open Sans
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0%;
    align-itens:center;
    
    }
    .hero p span {
    font-family: Open Sans;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0%;
    color:black;
    }

   .hero img {
    width: 481px;
    height: auto;
    top: 197px;
    left: 640px;
    margin-top: -190px;
    margin-left: 600px;
  }

  .button {
    background-color:#69B99D;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-family: DM Sans;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: #F9F9F9;
    width: 81;
    height: 21;
    width: 179;
    height: 56;
    top: 473px;
    left: 119px;
    border-radius: 4px;
    padding-top: 14px;
    padding-right: 32px;
    padding-bottom: 15px;
    padding-left: 32px;
    gap: 10px;
    position: absolute;
    top: 92px;
    left: 80px ;
    margin-top: 350px;
    margin-left: 40px;

  }
  .footer {
    text-align: center;
    padding: 10px;
    color:#000000;
    width: 592;
    height: 28;
    top: 662px;
    left: 344px;
    font-family: Open Sans;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
    position: relative;
    top: 35px;
    left: 0% ;
  }

  .footer em {
    font-family: Open Sans;
    font-weight: 700;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
    font-weight:bolder;
  }